*{margin: 0;padding: 0;box-sizing: border-box;}
body{width:100%;font-family: "微软雅黑";}
.header_img{width:100%;height:6rem;background: url(../img/1.jpg) no-repeat left center;background-size:100% 100%;float: left;position: relative;}
.header_img p{font-size:0.28rem;color: #ef9197;position: absolute;bottom: 0.24rem;right: 0.26rem;}
.present_img{width:100%;height:14.26rem;background: url(../img/2-2.jpg) no-repeat left center;background-size:100% 100%;float: left;position: relative;}
.present_img p{width:2.7rem;height: 0.4rem;line-height: 0.4rem;font-size:0.26rem;color: #606060;}
.present_img p:first-child{position: absolute;top:4.05rem;right:0.45rem;}
.present_img p:nth-child(2){width:2.6rem;position: absolute;left: 0.7rem;top: 8.9rem;text-indent: 0.05rem;}
.step_img{width:100%;height:4.29rem;background: url(../img/3.png) no-repeat left center;background-size:100% 100%;float: left;position: relative;}
.step_img p{width: 5.1rem;color: #343853;font-size: 0.3rem;position: absolute;left: 1.23rem;top: 1.08rem;}
.downioad_img{width:100%;height:8.72rem;background: url(../img/4.png) no-repeat left center;background-size:100% 100%;float: left;position: relative;}
.downioad_img img{width: 2.28rem;height: 2.28rem;position: absolute;left:0.96rem;top: 3.05rem;}
